* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 120%;
    background: #1F2C34;
}
form, content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 2px solid #EFCE5B;
    background: white;
    border-radius: 0px 0px 10px 10px;
}
.header {
    margin: 50px auto 0px;
    color: #1F2C34;
    background: #C7C3C2;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid #EFCE5B;
    box-shadow: 10px 5px 20px #EFCE5B inset;
}
.content {
    margin: 50px auto 0px;
    color: #1F2C34;
    background: #C7C3C2;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid #EFCE5B;
    box-shadow: 10px 5px 20px #EFCE5B inset;
}
.error {
    color: red;
    background: #ff000048;
    border-radius: 30px;
    padding: 10px;
}
#head {
    width: 30%;
    border-radius: 30px 30px 0px 0px;
    border-bottom: none;
}

form {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 2px solid #EFCE5B;
    background: white;
    color: #1F2C34;
    border-radius: 0px 0px 30px 30px;
}
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #EFCE5B;
}
.button {
    padding: 10px;
    font-size: 15px;
    color: #1F2C34;
    background: #EFCE5B;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 20px #EFCE5B inset;
}